/* Reset default browser spacing */
body {
	margin: 0;
	font-family: Arial,sans-serif;
	background-color: #f4f4f4;
}

/* Header */
header {
	background-color: #cc4dc6;
        color: white;
	padding: 20px;
        text-align: center;
}

/* Navigation */

nav{ 
        background-color: #;cc4dc6
	padding: 10px;
	text-align: center;
}

nav a {
      color: white;
      text-decoration: none;
      margin:0 15px;
      font-weight: bold;
}

nav a:hover {
     text-decortion:underline;
}

/* Main content */
main {
     padding: 20px;
}

/* Sections */
section {
       background-color: white;
       padding: 15px;
       margin-bottom: 20px;
       border-radus: 5px;

 /* Products */
.product { 
	border: 1px solid #cc4dc6;
	padding: 10px;
	margin-top: 10px;
	border-radius: 5px;
}

/* Footer */
footer {
	background-color: #cc4dc6;
	colour: white;
	text-align: center;
        padding: 10px;
}
 
      
      



